.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#LoginPageDiv{
  width: 100%;
  /* height: 200%; */
 display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: center; */
  /* align-self: center;   */
  /* background-color: rgb(255, 245, 231) */
  
}
#LoginPageSection
{
  
  background-color: rgb(209, 209, 209);
width: 50%;
height: 400px;
display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: center; */
align-self: center;
}
#LoginPageSection>input
{  
width: 90%;
height: 50px;
margin: 2%;
border: hidden;
border-bottom: solid;
outline: none;
box-shadow: none;
margin-top: 5%;
}
#LoginPageSection>h2{
  color: white;  
}
#LoginPageSection>button
{
  width: 50%;
}
#HomeContent
{
  text-align: left;
  text-indent: 40px;
}
#HomecContentList{
  text-align: left;
}
.studentPortalClassesButton
{
  margin: 2%;
  width: 75%;
  height: 50px;
}
.studentPortalClassesButton:hover{
  transition: 300ms;
  transform: rotateY(360deg);
}
.studentPortalDiv
{
  background-color:white;
}
.studentPortalTableCells
{
border: 2px solid black  
}
#studentPortalTable
{
  width:80%;
  margin: auto;
  background-color: white;

}#studentPortalTableDiv
{
  width: 100%;
background-color: rgb(204, 204, 204)

}



@media screen and (max-width: 702px) {
  .NavBarSection>button {
   font-size: 70%;
   margin-top:3%
  } 
  #LoginPageSection
  {
    width: 70%
  }
  .studentPortalClassesButton:hover{
    height: 55px;
  }
}

@media screen and (max-width: 502px) {
  .NavBarSection>button {
   font-size: 60%;
   margin-top:2%
  }
  .NavBarSection{
    width: 95%
  }
  .NavBarSpan
  {
    font-size: 120%;    
  }
  #LoginPageSection
  {
    width: 90%
  }
  .studentPortalClassesButton:hover{
    height: 55px;
  }
}
