body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;   
}

.sliderImg{
object-fit: fill;
width: 100%;
height: 400px;
}
.NavBarSection{

  display: inline-block;
  position: absolute;
  right: 0%;
  margin: auto;
  margin-top: 2px;
width: 90%;
text-align: right;

}
.NavBarSection>button{
  margin-left: 1%;
  border: hidden;
  background-color: inherit;
  font-size: 140%;
  color: white;
  opacity: 1;
}
.NavBarSection>button:hover
{
color:black;
}

.NavBarSpan{
  position: absolute;
  left: 0%;
  margin: auto;
  font-size: 180%;
font-weight: bold;
color: white;
}
.NavBar{
  width: 100%;
  height: 50px;
   position: fixed;   
  top: 0%;
  z-index: 100;
  background: linear-gradient(to left,#01579b,#1565c0,#0d47a1,#01579b,#0277bd ) ; 
  opacity: 1;
}
footer{
  background: linear-gradient(to left,#01579b,#1565c0,#0d47a1,#01579b,#0277bd ) ;   
  height: 30px;
  width: 100%;
  margin: 0;
  padding:0;
  position: relative;   
  bottom: 0%;
  z-index: 100;
  
}
footer>a{
  display: inline-block;
  width: 100%;
  margin: 0;
  padding:0;
}
a>label{    
  font-weight: bold;
color: white;
margin: 0;
  padding:0;
}
#MarginedDiv{
  margin-top: 50px;
}
.LoggedInPageTableButtons{
  width: 100%;
  height: 60px;
}
.logoutButtonDiv{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background: linear-gradient(to left,#01579b,#1565c0,#0d47a1,#01579b,#0277bd ) ; 
text-align: right; 
height: 50px; 
}
.logoutButtonDiv>button{
  height: 50px;}
  .studentDataSpan
  {
  display: inline-block;
  width: 50%;  
  }
  .studentdataDiv{
    border: 1px solid rgba(0, 89, 255, 0.767);
    margin: 5px;
    text-align: left;
    padding-left:10%;
    border-radius: 10px;
     font-weight: bold;
  }
  #studentDataParentDiv
  {
   background-color:  rgb(238, 235, 235);
   min-height: 100vh;
  }
  .ContactUsPageParaalaxImg{
    height: 400px;
    width: 100%;
  }
  .iframeDiv
  {
    width: 100%;
    height: 400px; 
  }
  iframe{
    width: 100%;
    height: 400px; 
  }
  .contactUspagePara{
    text-align: left;
    margin: 2%;
  }
  p{
    text-align: justify !important;
    padding-left: 1% !important;
    padding-right: 1% !important;
  }
  img{
    height: 400px !important;
  }
  .studentPortalStudentDataQueryFormLabel{
    width: "100%";
    display: block
  }
  .studentPortalStudentDataQueryFormLabel>span{
    display: inline-block;
width:28%;
  }
  .studentPortalStudentDataQueryFormLabel>input{
    width: 40%;
    border: 1px solid  rgba(0, 89, 255, 0.767);;
    border-radius: 20px;
    padding: 1%;
  background: linear-gradient(to left,#01579b,#1565c0,#0d47a1,#01579b,#0277bd ) ; 
  color: white;
  }
  #studentPortalStudentDataQueryForm{
    color: white;
    font-weight: bold;
    font-size: 100%;
    background-image: url('./images/studentPortalStudentDataimg.jpg');
    background-size: cover;
  }

  #toastHeader{
    width: 100% !important;
    display: block;
    border: 1px solid #0277bd  ;
    border-radius: 4px;
    background-color: yellow;
    text-align: left;
    padding-left: 1%;
  }
  #toastHeader>div{
    text-align: right
  }
  #diaryComponentDiv{
    width:98%;
    margin: 1%;
  }
  .adminDairyComponentTextArea{
    width:80%;
    margin:1%
  }
  